{% extends 'global/base.html' %}
{% load static %}

{% block title %}Contact Us - ReliefLink{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="contact-section">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-container">
     
        <div class="contact-details">
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <h4>Call Us</h4>
                <p>1234567890</p>
            </div>
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <h4>Address</h4>
                <p>United States of Ambottola</p>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <h4>Email</h4>
                <p>info@relieflink.com</p>
            </div>
        </div>

        
        <div class="contact-form">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                </div>
                <textarea name="message" placeholder="Your Message" rows="1" required></textarea>
                <button type="submit" class="cta-button">Submit Message</button>
            </form>
            <span class="required-message">*All the fields are required.</span>
        </div>
        
        
    </div>
</div>
{% endblock %}
