{% extends 'global/base.html' %}
{% load static %}
{% block title %}Housh{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/relief_supply.css' %}">
{% endblock %}
{% block content %}
<div class="supply-container">
    <div class="supply-form">
        <h2>Housh : {{ housh.holding_number }} </h2>
        <h2> fd{{ house }} </h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}