{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/divisionalcommissioner_dashboard.css' %}">
{% endblock %}

{% block title %}UNO Dashboard{% endblock %}

{% block content %}
<div class="divisional-dashboard">
    <h2>UNO : {{ upazila }}</h2>

    <!-- Button to Create a New Union Chairman -->
    <div class="button-container">
        <a href="{% url 'add_unionchairman' %}" class="btn btn-success">Create New Union Chairman</a>
    </div>

    <!-- Table to Display Union Chairmans -->
    <table class="dashboard-table">
        <caption>Union Chairmans</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Union</th>
                {% if upazila.floody_unions %}
                    <th style="padding: 8px;">Dry Food Demand</th>
                    <th style="padding: 8px;">Primary Food Demand</th>
                    <th style="padding: 8px;">Dry Food Supply</th>
                    <th style="padding: 8px;">Primary Food Supply</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for unionchairman in unionchairmans %}
                <tr>
                    <td>{{ unionchairman.name }}</td>
                    <td>{{ unionchairman.email }}</td>
                    <td>{{ unionchairman.union }}</td>
                    {% if upazila.floody_unions %}
                        <td>{{ unionchairman.union.dry_food_demand }}</td>
                        <td>{{ unionchairman.union.primary_food_demand }}</td>
                        <td>{{ unionchairman.union.dry_food_supply }}</td>
                        <td>{{ unionchairman.union.primary_food_supply }}</td>
                    {% endif %}
                    <td class="action-cell">
                        <form method="post" action="{% url 'delete_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="no-data">No Union Chairman found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}