{% extends 'global/base.html' %}
{% block title %}Ward Member{% endblock %}
{% block content %}
<h2>Ward Member : {{ ward }} </h2>

<!-- Button to Create a New House -->
<div style="margin-bottom: 20px;">
    <a href="{% url 'add_house' %}" class="btn btn-success">Create New House</a>

    {% comment %} implement flood status {% endcomment %}
    <form method="post" action="{% url 'update_flood_status' %}" style="display: inline;">
        {% csrf_token %}
        
        <label for="is_flood">
            <input type="checkbox" id="is_flood" name="is_flood" {% if ward.is_flood %}checked{% endif %}> Is Flood?
        </label>
    
        <label for="dry_food">
            <input type="number" id="dry_food" name="dry_food" value="{{ ward.dry_food_demand_in_percentage|default:0 }}" min="0" max="100" step="1"> Need Dry Food (in %)
        </label>
    
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    
</div>

<!-- Table to Display Houses -->
<table border="1" style="width: 100%; border-collapse: collapse;">
    <caption style="font-size: 1.5em; font-weight: bold; margin-bottom: 10px;">Houses</caption>
    <thead>
        <tr style="background-color: #f4f4f4;">
            <th style="padding: 8px;">Holding Number</th>
            <th style="padding: 8px;">Ward</th>
            <th style="padding: 8px;">Member</th>
            
            <th style="padding: 8px;">Born</th>
            <th style="padding: 8px;">Death</th>
            {% if ward.is_flood %}
                <th style="padding: 8px;">Relief Demand</th>
                <th style="padding: 8px;">Dry Food Supply</th>
                <th style="padding: 8px;">Primary Supply</th>
            {% endif %}
        </tr>
    </thead>l
    <tbody>
        {% for house in houses %}
            <tr>
                <td style="padding: 8px;">
                    <a href="{% url 'housh_info' house.id %}">
                    {{ house.holding_number }}
                    </a>
                </td>
                <td style="padding: 8px;">{{ house.ward }}</td>
                <td style="padding: 8px;">{{ house.family_member }}</td>
                <td style="padding: 8px; text-align: center;">
                    <form method="post" action="{% url 'born' house.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </td>
                <td style="padding: 8px; text-align: center;">
                    <form method="post" action="{% url 'death' house.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                {% if ward.is_flood %}
                    <td style="padding: 8px;">{{ house.relief_demand }}</td>
                    <td style="padding: 8px;">{{ house.dry_food_supply }}</td>
                    <td style="padding: 8px;">{{ house.primary_food_supply }}</td>
                {% endif %}
                
                
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" style="text-align: center; padding: 8px;">No House found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
