.status-section {
    margin: 30px auto;
    max-width: 1100px;
    padding: 30px;
    /* background: #fafafa; */
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
}

.status-title {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.status-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.status-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border-left: 6px solid;
    border-image: linear-gradient(to bottom, #f1c40f, #f39c12) 1;
    box-shadow: -6px 6px 4px rgba(0,0,0,0.1), 2px 0 4px rgba(0,0,0,0.1);
}

.full-width {
    width: 100%;
}

.card-header {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.status-card-title {
    font-size: 1.6em;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.status-card-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s linear;
}

.status-card-link {
    color: #f1c40f; 
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.status-card-link:hover,
.status-card-link:focus {
    color: #dfb81c; 
    border-bottom: 1px solid #ecc00c;
}

/* .status-card-link:visited {
    color: #2980b9;
} */

.card-body {
    font-size: 1em;
    color: #444;
}

.status-card-detail {
    margin: 10px 0;
}

.status-card-detail .label {
    display: inline-block;
    font-weight: 600;
    color: #333;
    margin-right: 5px;
}

.status-card::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f1c40f);
}

@media (max-width: 768px) {
    .status-section {
        padding: 20px;
        margin: 20px auto;
        max-width: 95%;
    }
    .status-title {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .status-card {
        padding: 5px;
    }
    .status-card-title {
        font-size: 1.4em;
    }
    .card-body {
        font-size: 0.95em;
    }
    .status-card-detail {
        margin: 8px 0;
    }
}

@media (max-width: 480px) {
    .status-section {
        padding: 15px;
        margin: 15px auto;
        max-width: 100%;
    }
    .status-title {
        font-size: 1.8em;
        margin-bottom: 15px;
    }
    .status-card {
        padding: 10px;
    }
    .status-card-title {
        font-size: 1.2em;
    }
    .card-body {
        font-size: 0.9em;
    }
    .status-card-detail {
        margin: 5px 0;
    }
}