body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 400px;
    box-sizing: border-box;
}

.login-form h2 {
    font-size: 26px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.login-form p {
    font-size: 16px;
    color: #6c757d;
    /* text-align: center; */
    margin-top: 10px;
}

.login-form a {
    text-decoration: none;
    color: #27b147;
    font-weight: 500;
    transition: color 0.3s ease;
    margin: 8px;
}


.login-form a:hover {
    color: rgb(109, 108, 108);
}


.form-control {
    width: 100%;
    padding: 14px;
    /* margin-bottom: 20px; */
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box; 
}

.form-control:focus {
    border-color: #aaa;
    background-color: #ffffff;
    outline: none;
}

.form-control::placeholder {
    color: #aaa;
}

.btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #27b147;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #25943f;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #29813e;
    transform: translateY(1px);
}

.login-form p {
    margin-top: 20px;
}


@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }

    .login-form h2 {
        font-size: 22px;
    }

    .btn {
        font-size: 14px;
    }
}
