{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/divisionalcommissioner.css' %}">
<link rel="stylesheet" href="{% static 'account/style.css' %}">
{% endblock %}

{% block title %}Add Deputy Commissioner{% endblock %}


{% block content %}
<div class="login-container">
    <div class="login-form">
        <h2>Deputy Commissioner</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        {% comment %} <p>go Home? <a href="{% url 'home' %}"> Home</a></p> {% endcomment %}
    </div>
</div>
{% endblock %}