{% extends 'global/base.html' %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/style.css' %}">
{% endblock %}
{% block content %}
<div class="container-log">
  <div class="form-section">
    <div class="form-wrapper">
      <h1>Relief<span class="highlight">LINK</span></h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
      <p class="register-link">
        Already have an account?
        <a class="reg-here" href="{% url 'login' %}">Login Here</a>
      </p>
    </div>
  </div>
  <div class="image-section"></div>
</div>


{% if registration_status == 'success' %}
<div class="notification success">
  Registration successful! You can now log in.
</div>
{% elif registration_status == 'fail' %}
<div class="notification error">
  Registration failed. Please try again.
</div>
{% endif %}
{% endblock %}


{% block extra_js %}
<script src="{% static 'account/script.js' %}"></script>
{% endblock %}