{% extends 'global/base.html' %}
{% load static %}

{% block title %}Update Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/updatepassword.css' %}">
{% endblock %}

{% block content %}
<div class="updatepassword-container">
    <div class="updatepassword-form">
        <h2>Update Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        <p>Don't want to update password? <a href="{% url 'home' %}">Go to Home</a></p>
    </div>
</div>
{% endblock %}